body{
    background-color:rgb(49, 0, 0);
}
section{
    margin: 80px 200px;
    height: auto;
    
}
.contenedor-principal{
    position: static;
    background-color: rgb(252, 242, 238);
    padding: 20px;
}
.contenedor-principal__busqueda{
    margin: auto;
}
.search{
    width: 100%;
    padding: 10px 30px;
}
.principal-contenido__cursos{
    display: flex;
    flex-direction: column;
    
}
.contenido-cursos__block{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background-color:rgb(255, 255, 255);
}
.cursos-block__video{
    background-color: white;
    width: 50%;
    height: auto;
    margin: 10px;
}

iframe{
    width: 100%;
    height: 100%;
}
.cursos-block__leyenda{
    width: 50%;
    height: auto;
    margin: 10px;
    
}
.leyenda-conteiner__descripcion{
    padding: 20px;
    height: auto;
}