body{
    background-color:rgb(99, 129, 98);
}
section{
    margin: 80px 200px 0;
    height: auto;
    
}
.contenedor-principal{
    position: static;
    background-color: rgb(252, 242, 238);
    padding: 20px;
}
.contenedor-principal__busqueda{
    margin: auto;
}
.search{
    width: 100%;
    padding: 10px 30px;
}
.principal-contenido__cursos{
    display: flex;
    flex-direction: column;
    
}


.contenido-cursos__block{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background-color:rgb(255, 255, 255);
}
.cursos-block__video{
    background-color: white;
    width: 50%;
    height: auto;
    margin: 10px;
}

iframe{
    width: 100%;
    height: 100%;
}
.cursos-block__leyenda{
    width: 50%;
    height: auto;
    margin: 10px;
    
}
.leyenda-conteiner__descripcion{
    padding: 20px;
    height: auto;
}
#content_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom{
    width: 110px;
    height: 40px;
    background-color: rgb(112, 4, 4);
    color: white;
}