/*Portada*/
.container__cover{
    width: 100%;
    height: auto;
    position: relative; /*para no desfazar la pagina que baje con todo el contenido que esta con el*/
    margin-top:80px;/*hace que se empuje el contenido*/
    background-image: url(../img/biblioteca.jpg);/*Agregar imagen*/
    background-position: center; /*Centrar imagen*/
    background-size: cover;/*Hace que la imagen se expanda si se ajusta el tamaño del navegador y asi no se repita*/
    background-repeat: no-repeat;/*para que no se repita la imagen*/
}
/*Creamos pseudoclase before*/
.container__cover:before{ 
    content:'';
    width: 100%;
    height: 100%;
    background: rgba(23, 4, 131, 0.582);
    position: absolute;
    top:0;
    left:0;
}
.container__cover--info{
    max-width: 800px;
    height: 390px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;/*Cambio de direccion del flex a columnas*/
    justify-content: center;
    align-items: center;
    position: relative;/*para que funcione el z-index y me lleve adelante el h1*/
    z-index:1;
}
.container__cover--info h1{
    font-size: 50px;/*tamaño*/
    font-weight: 500;/*ancho de letra*/
    color: #fff;
    margin-bottom: 20px;/*para guardar un espaciado entre el titulo y el parrafo*/
    font-family: 'Secular One', sans-serif;
    font-weight: 300;
}
/*Contenedor contenido del atriculo*/
.conteiner__content{
    width: 1200px;
    margin: auto;


}
article{
    width: 100%;
    padding: center;
    padding-bottom: 40px;
    overflow: hidden;
    background: rgb(250, 247, 247);
    margin-left: 0;

}

.container__content--proyect{
    max-width: 800px;
    justify-content: center;
    margin:40px 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px rgba(1, 1, 221, 0.548);
    background: rgba(211, 175, 252, 0.336);
    position: relative;
    overflow: hidden;

}
.container__content--proyect:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(90, 11, 11);

}
.container__content--proyect h1{
    display: relative;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    font-size: 37px;/*tamaño*/
    font-weight: 10px;/*ancho de letra*/
    color: rgb(2, 2, 29);
    margin: 20px 0;

}
.container__content--proyect img{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    content: normal;
    background-size: cover;/*Hace que la imagen se expanda si se ajusta el tamaño del navegador y asi no se repita*/
    background-repeat: no-repeat;/*para que no se repita la imagen*/
}
/*Aside*/
.container__aside {
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px black;
    position: fixe;
    flex-direction: column;
}