section{
    margin-top: 80px;
    background-color: rgba(0, 85, 42, 0.452);
}
.conteiner__login{
    padding: 60px 60px;
    height: 400px;
    margin: 0 400px;
    background-color: rgb(251, 255, 254);
}
.login__form-title{
    text-align: center;
}
.login__form-group{
    margin: 20px 40px;
    
}
.form__group-control{
    width: 100%;
    height: 40px;
    padding-left: 20px;
}
.login__form-info{
    margin-top: 20px;
}
.form__info-forget{
    margin-top: 5px;
    text-align: center;
}
.form__info-login{
    margin: 20px 40px;
    align-items: center;
}
.log-btn{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 85, 42);
    color: aliceblue;
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
    border-radius: 10px;
}