section{
    margin-top: 80px;
    background-color: rgba(0, 85, 42, 0.452);
}
.about-services{
    margin: auto;
    height: 400px;
}
.contenedor-1{
    text-align: center;
    font-family: var(--fuente-1);
    font-size: 20px;
    width: 200px;
    height: 200px;
    background: white;
    position: absolute;
    left: 200px;
    top: 200px;
}

.contenedor-2{
    text-align: center;
    font-family: var(--fuente-1);
    font-size: 20px;
    width: 200px;
    height: 200px;
    background: white;
    position: absolute;
    left: 800px;
    top: 200px;
}

.imagen{
    width: 50%;
}
