section{
    margin-top: 80px;
    background-color: rgba(0, 85, 42, 0.452);
}
.conteiner__registro{
    padding: 20px 60px;
    height: 580px;
    margin: 0 400px;
    background-color: rgb(251, 255, 254);
}
.registro__form-title{
    height: 60px;
}
.registro__form-title h1{
    text-align: center;
    padding-top: 10px;
    color: rgba(141, 6, 6, 0.87);
}
.registro__form{
    margin-bottom: 15px;
}
.form__group-title h1{
    font-size: 14px;
    margin-bottom: 10px;
}
.form__group-control{
    width: 100%;
    height: 40px;
}
.form__info-login{
    margin-top: 40px;
}
.log-btn{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 85, 42);
    color: aliceblue;
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
    border-radius: 10px;
}
